#########################
# directories to ignore #
.idea/
*.idea/
.config/

__pycache__/
_pychache_/
*__pychache__/



#########################
# file types to ignore #

# Jupyter Notebook
.ipynb_checkpoints

*.ipynb_checkpoints
.DS_store
*.DS_store
.cpython-36.pyc
.idea
*.pyc

.key
.keys
.secret
*.config
.config
config.py
*config*